<section class="tout" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p align="justify">
            I am a 25 year old resident of London and currently pursuing MSc in Software Engineering at Kingston University London
        </p>
        <p align="justify">
            I have 3 years of experience as a software engineer, and have worked
            at small startups. While I'm a proficient full-stack developer, my expertise is in Front End Development.
        </p>
        <p align="justify">
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real time problems with a business justification.
           I'm looking for a Junior/Graduate role where I can kick start my career as a Software Engineer and gain experience with development, architecture and project management.
        </p>

      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Elected to lead the department as Student Cheif Coordinator at the National Level Techical Symposium "Adsophos 2016"
    			</li>
          <li>
            Presented papers on Data Leakage Detection and Internet of Things
          </li>
    			<li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded Best Coder in a Hackathon conducted by Google GBG India
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
