<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Block Chain</b>. It's an exciting time for Block Chain as several industries are running towards it. I'm working through several online classes, and swap articles with colleagues.
			  </li>
			  <li>
				  <b>Books</b>. I have been an avid book reader since the time I learned to read. My favourite reads come from Technology and Philosophy.
			  </li>
			  <li>
				  <b>Travelling</b>. I come from India which itself is a Sub-continent. Have travelled to Middle East and Europe with further western countries on the bucket list.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>

          <button onclick="location.href='http://www.skylogisticshub.com/'" type="button">
         Sky Logistics</button>
         <br/>
         <button onclick="location.href='https://1hqglobal.com/'" type="button">
        1HQ Global</button>
        <br/>
        <button onclick="location.href='https://bestcleanerssurrey.co.uk/'" type="button">
       Best Cleaners Surrey</button>
</br>
       <input type="image" alt="Submit" width="40" height="40" onclick="location.href='http://www.skylogisticshub.com/'"
       src="img/skylogo.png">

  		    </ul>

  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Active member on various Bootcamps and Meetup groups
  			</li>
  			<li>
  			   Active member of various Student Bodies such as IEEE
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
