<section class="tout" id="summary">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Professional Summary</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12">
		    <p>
			    Here is a quick overview of my skills and expertise:
        </p>
			<ul>
			  <li>
				 3 years of Software Industry experience in Analysis, Design, Development, Testing and Deployment of Web-Based and Enterprise based Client-Server business applications using programming languages like Java, C++, PHP and Ruby on Rails.
			  </li>
			  <li>
				  Hands-on Experience in Cloud and Virtualization environments such as AWS, VMWare and Virtual Box.
			  </li>
			  <li>
				  Experience with SQL and PL/SQL to query Relational Databases including Oracle, MS SQL, MySQL, PostgreSQL and MongoDB.
        </li>
        <li>
				  Master-level aptitudes in developing Service Oriented Architectures, Micro Service Architectures and Component-Based Architectures using web services such as Restful and SOAP.
        </li>
        <li>
				  Extensive experience with JavaScript-based frameworks involving React, Angular, and Vue.
        </li>

        <li>
				  First Hand experience in designing and developing front-end UI using HTML5, XHTML, DHTML, CSS3 (SASS, LESS) frameworks, jQuery, JSON, MVC and Bootstrap.
        </li>
        <li>
                    Applied Agile Methodologies and Test Practices, Kanban, SCRUM and Scripted Test Cases for Test Driven Development TDD.
        </li>
        <li>
                    Experience in handling CI/CD tools such as Jenkins and GitLab.
        </li>
        <li>
                    Well versed with Version Control tools like GIT, SVN and Bitbucket.
        </li>
        <li>
                    Operated various Agile Project management tools like JIRA, Asana and Trello.
        </li>
        <li>
                    Used WHM, CPanel, FTP and SFTP.
        </li>

			</ul>
    </div>
		</div>
  </div>
    </section>
